<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', path='/css/layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">

</head>
<body>

{% block content %}{% endblock %}

<script src="{{ url_for('static', path='/js/api.js') }}"></script>
<script src="{{ url_for('static', path='/js/calendar.js') }}"></script>
<script src="{{ url_for('static', path='/js/songs.js') }}"></script>

</body>
</html>